[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
gym = "*"
stable-baselines = {extras = ["mpi"],version = "*"}
ipykernel = "*"
tensorflow = "==1.15.0"
pillow = "*"
statsmodels = "*"
bokeh = "*"
pandas = "*"

[requires]
python_version = "3.6"
